<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apphwttm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHWTTM">
        <activity android:name=".admin.add_disease.AddDiseaseDataActivity"></activity>
        <activity android:name=".admin.add_firstAid.AddFirstAidDataActivity" />
        <activity android:name=".admin.add_herb.AddHerbDataActivity" />
        <activity android:name=".admin.AddDataActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".calendar.CalendarDetailBadActivity" />
        <activity android:name=".calendar.CalendarDetailGoodActivity" />
        <activity android:name=".searchPage.disease.NewDetailDiseaseSearchActivity" />
        <activity android:name=".calendar.CalendarActivity" />
        <activity android:name=".healthRecord.AddRecordDetailActivity" />
        <activity android:name=".healthRecord.RelateDiseaseActivity" />
        <activity android:name=".healthRecord.AreYouOk2Activity" />
        <activity android:name=".searchPage.lowerbody.DiseaseLowerBodyActivity" />
        <activity android:name=".searchPage.head.DiseaseHeadActivity" />
        <activity android:name=".searchPage.body.DiseaseBodyActivity" />
        <activity android:name=".healthRecord.AreYouOkActivity" />
        <activity android:name=".searchPage.herb.DetailHerbSearch" />
        <activity android:name=".searchPage.firstaid.DetailFirstAidSearch" />
        <activity android:name=".searchPage.herb.ActivityHerbSearch" />
        <activity android:name=".AmFineActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".searchPage.firstaid.ActivityFirstAidSearch" />
        <activity android:name=".SecActivityFirstAidSearch" />
        <activity android:name=".searchPage.disease.DetailDiseaseSearch" />
        <activity android:name=".searchPage.disease.SecActivityDiseaseSearch" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".healthRecord.HealthCareActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>